
/****** Object:  Database [QLDatVePhim3]    Script Date: 3/4/2019 12:28:29 PM ******/
CREATE DATABASE [QLDatVePhim3]
GO
USE [QLDatVePhim3]
GO
/****** Object:  Table [dbo].[DAYGHE]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAYGHE](
	[ID_DAYGHE] [bigint] IDENTITY(1,1) NOT NULL,
	[TENDAY] [nvarchar](50) NULL,
	[ID_PHONG] [bigint] NULL,
 CONSTRAINT [PK_DAYGHE] PRIMARY KEY CLUSTERED 
(
	[ID_DAYGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GHE]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[ID_GHE] [bigint] IDENTITY(1,1) NOT NULL,
	[GHESO] [int] NULL,
	[ID_DAYGHE] [bigint] NULL,
	[ID_LOAIGHE] [bigint] NULL,
 CONSTRAINT [PK_GHE] PRIMARY KEY CLUSTERED 
(
	[ID_GHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HOADON] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TAIKHOAN] [bigint] NULL,
	[ID_SUAT] [bigint] NULL,
	[NGAYDATVE] [date] NULL,
	[GIODATVE] [time](7) NULL,
	[GIADUOCGIAM] [bigint] NULL,
	[ID_KHUYENMAI] [nvarchar](50) NULL,
	[TONGTIEN] [bigint] NULL,
	[THANHTOAN] [bit] NULL CONSTRAINT [DF_HOADON_THANHTOAN]  DEFAULT ((0)),
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID_KHUYENMAI] [nvarchar](50) NOT NULL,
	[ID_LOAIKHUYENMAI] [bigint] NULL,
	[MOTANGAN] [nvarchar](50) NULL,
	[TENGIAMGIA] [nvarchar](50) NULL,
	[CHIETKHAU] [float] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
 CONSTRAINT [PK_GIAMGIA] PRIMARY KEY CLUSTERED 
(
	[ID_KHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIGHE]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGHE](
	[ID_LOAIGHE] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAIGHE] [nvarchar](50) NULL,
	[GIA] [bigint] NULL,
 CONSTRAINT [PK_LOAIGHE] PRIMARY KEY CLUSTERED 
(
	[ID_LOAIGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHUYENMAI]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHUYENMAI](
	[ID_LOAIKHUYENMAI] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAIKHUYENMAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIGIAMGIA] PRIMARY KEY CLUSTERED 
(
	[ID_LOAIKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[ID_LOAITAIKHOAN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAITAIKHOAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_LOAITAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[ID_PHIM] [bigint] IDENTITY(1,1) NOT NULL,
	[TENPHIM] [nvarchar](50) NULL,
	[THOILUONG] [nvarchar](50) NULL,
	[MOTANGAN] [nvarchar](2500) NULL,
	[DAODIEN] [nvarchar](250) NOT NULL,
	[DIENVIEN] [nvarchar](500) NULL,
	[HINHANH1] [nvarchar](500) NULL,
	[HINHANH2] [nvarchar](500) NULL,
	[HINHANH3] [nvarchar](500) NULL,
	[HINHANH4] [nvarchar](500) NULL,
	[VIDEO] [nvarchar](500) NULL,
	[THELOAI] [nvarchar](500) NULL,
	[NGAYCONGCHIEU] [date] NULL,
	[GIOIHANTUOI] [int] NULL,
	[DINHDANGPHIM] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_PHIM] PRIMARY KEY CLUSTERED 
(
	[ID_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[ID_PHONG] [bigint] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[SOLUONGGHE] [bigint] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[ID_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUAT]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUAT](
	[ID_SUAT] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PHIM] [bigint] NOT NULL,
	[ID_PHONG] [bigint] NOT NULL,
	[NGAYCHIEU] [date] NOT NULL,
	[GIOCHIEU] [time](7) NOT NULL,
 CONSTRAINT [PK_SUAT_1] PRIMARY KEY CLUSTERED 
(
	[ID_SUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUKIEN]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUKIEN](
	[ID_SUKIEN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENSUKIEN] [nvarchar](50) NULL,
	[MOTA] [nvarchar](2500) NULL,
	[ANHSUKIEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUKIEN] PRIMARY KEY CLUSTERED 
(
	[ID_SUKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_TAIKHOAN] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_LOAITAIKHOAN] [bigint] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIEMTICHLUY] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VE_GHE]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE_GHE](
	[ID_VE_GHE] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_GHE] [bigint] NULL,
	[ID_HOADON] [bigint] NULL,
	[ID_SUAT] [bigint] NULL,
 CONSTRAINT [PK_VE_GHE] PRIMARY KEY CLUSTERED 
(
	[ID_VE_GHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_ChiTietGheDat]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ChiTietGheDat]
AS
SELECT        dbo.HOADON.ID_HOADON, dbo.GHE.GHESO, dbo.DAYGHE.TENDAY, dbo.LOAIGHE.ID_LOAIGHE, dbo.LOAIGHE.TENLOAIGHE, dbo.LOAIGHE.GIA
FROM            dbo.HOADON INNER JOIN
                         dbo.VE_GHE ON dbo.HOADON.ID_HOADON = dbo.VE_GHE.ID_HOADON INNER JOIN
                         dbo.GHE ON dbo.VE_GHE.ID_GHE = dbo.GHE.ID_GHE INNER JOIN
                         dbo.DAYGHE ON dbo.GHE.ID_DAYGHE = dbo.DAYGHE.ID_DAYGHE INNER JOIN
                         dbo.LOAIGHE ON dbo.GHE.ID_LOAIGHE = dbo.LOAIGHE.ID_LOAIGHE

GO
/****** Object:  View [dbo].[View_ChiTietHoaDon]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ChiTietHoaDon]
AS
SELECT        dbo.HOADON.ID_HOADON, dbo.PHIM.TENPHIM, dbo.SUAT.ID_SUAT, dbo.SUAT.NGAYCHIEU, dbo.SUAT.GIOCHIEU, dbo.HOADON.TONGTIEN, dbo.PHONG.TENPHONG, dbo.TAIKHOAN.ID_TAIKHOAN, 
                         dbo.HOADON.ID_KHUYENMAI
FROM            dbo.HOADON INNER JOIN
                         dbo.SUAT ON dbo.HOADON.ID_SUAT = dbo.SUAT.ID_SUAT INNER JOIN
                         dbo.PHIM ON dbo.SUAT.ID_PHIM = dbo.PHIM.ID_PHIM INNER JOIN
                         dbo.PHONG ON dbo.SUAT.ID_PHONG = dbo.PHONG.ID_PHONG INNER JOIN
                         dbo.TAIKHOAN ON dbo.HOADON.ID_TAIKHOAN = dbo.TAIKHOAN.ID_TAIKHOAN
GROUP BY dbo.HOADON.ID_HOADON, dbo.PHIM.TENPHIM, dbo.SUAT.ID_SUAT, dbo.SUAT.NGAYCHIEU, dbo.SUAT.GIOCHIEU, dbo.HOADON.TONGTIEN, dbo.PHONG.TENPHONG, dbo.TAIKHOAN.ID_TAIKHOAN, dbo.HOADON.ID_KHUYENMAI

GO
/****** Object:  View [dbo].[View_ChiTietThanhToan]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ChiTietThanhToan]
AS
SELECT        dbo.HOADON.ID_HOADON, dbo.DAYGHE.TENDAY, dbo.GHE.GHESO, dbo.LOAIGHE.ID_LOAIGHE, dbo.LOAIGHE.TENLOAIGHE, dbo.LOAIGHE.GIA
FROM            dbo.DAYGHE INNER JOIN
                         dbo.GHE ON dbo.DAYGHE.ID_DAYGHE = dbo.GHE.ID_DAYGHE INNER JOIN
                         dbo.LOAIGHE ON dbo.GHE.ID_LOAIGHE = dbo.LOAIGHE.ID_LOAIGHE INNER JOIN
                         dbo.VE_GHE ON dbo.GHE.ID_GHE = dbo.VE_GHE.ID_GHE INNER JOIN
                         dbo.HOADON ON dbo.VE_GHE.ID_HOADON = dbo.HOADON.ID_HOADON

GO
/****** Object:  View [dbo].[VIEW_DAY_THEO_PHONG]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_DAY_THEO_PHONG]
AS
SELECT        dbo.PHONG.ID_PHONG, dbo.DAYGHE.ID_DAYGHE, dbo.DAYGHE.TENDAY
FROM            dbo.PHONG INNER JOIN
                         dbo.DAYGHE ON dbo.PHONG.ID_PHONG = dbo.DAYGHE.ID_PHONG

GO
/****** Object:  View [dbo].[View_DOANHSO]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DOANHSO]
AS
SELECT dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, COUNT(dbo.VE_GHE.ID_VE_GHE) AS DOANHSO
FROM     dbo.PHIM INNER JOIN
                  dbo.SUAT ON dbo.PHIM.ID_PHIM = dbo.SUAT.ID_PHIM INNER JOIN
                  dbo.HOADON ON dbo.SUAT.ID_SUAT = dbo.HOADON.ID_SUAT INNER JOIN
                  dbo.VE_GHE ON dbo.SUAT.ID_SUAT = dbo.VE_GHE.ID_SUAT AND dbo.HOADON.ID_HOADON = dbo.VE_GHE.ID_HOADON
GROUP BY dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.NGAYCONGCHIEU


GO
/****** Object:  View [dbo].[View_DOANHTHU]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DOANHTHU]
AS
SELECT dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.NGAYCONGCHIEU, SUM(dbo.HOADON.TONGTIEN) AS DOANHTHU
FROM     dbo.HOADON INNER JOIN
                  dbo.SUAT ON dbo.HOADON.ID_SUAT = dbo.SUAT.ID_SUAT INNER JOIN
                  dbo.PHIM ON dbo.SUAT.ID_PHIM = dbo.PHIM.ID_PHIM
GROUP BY dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.NGAYCONGCHIEU


GO
/****** Object:  View [dbo].[View_GHE_DA_DAT]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_GHE_DA_DAT]
AS
SELECT        dbo.VE_GHE.ID_VE_GHE, dbo.VE_GHE.ID_GHE, dbo.VE_GHE.ID_HOADON, dbo.VE_GHE.ID_SUAT, dbo.DAYGHE.TENDAY, dbo.GHE.GHESO, dbo.HOADON.THANHTOAN
FROM            dbo.VE_GHE INNER JOIN
                         dbo.GHE ON dbo.VE_GHE.ID_GHE = dbo.GHE.ID_GHE INNER JOIN
                         dbo.DAYGHE ON dbo.GHE.ID_DAYGHE = dbo.DAYGHE.ID_DAYGHE INNER JOIN
                         dbo.HOADON ON dbo.VE_GHE.ID_HOADON = dbo.HOADON.ID_HOADON
WHERE        (dbo.HOADON.THANHTOAN = 1)

GO
/****** Object:  View [dbo].[VIEW_GHE_THEO_PHONG]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_GHE_THEO_PHONG]
AS
SELECT        dbo.PHONG.ID_PHONG, dbo.DAYGHE.ID_DAYGHE, dbo.GHE.ID_GHE, dbo.GHE.GHESO, dbo.LOAIGHE.ID_LOAIGHE
FROM            dbo.PHONG INNER JOIN
                         dbo.DAYGHE ON dbo.PHONG.ID_PHONG = dbo.DAYGHE.ID_PHONG INNER JOIN
                         dbo.GHE ON dbo.DAYGHE.ID_DAYGHE = dbo.GHE.ID_DAYGHE INNER JOIN
                         dbo.LOAIGHE ON dbo.GHE.ID_LOAIGHE = dbo.LOAIGHE.ID_LOAIGHE

GO
/****** Object:  View [dbo].[View_LichSuDatVe1]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_LichSuDatVe1]
AS
SELECT        TOP (100) PERCENT dbo.HOADON.ID_HOADON, dbo.HOADON.GIODATVE, COUNT(dbo.GHE.ID_LOAIGHE) AS soluong, dbo.GHE.ID_LOAIGHE, dbo.LOAIGHE.GIA, dbo.PHIM.TENPHIM, SUM(dbo.HOADON.TONGTIEN) AS TongTien, 
                         dbo.HOADON.ID_TAIKHOAN, dbo.HOADON.GIADUOCGIAM, dbo.HOADON.ID_KHUYENMAI, dbo.HOADON.NGAYDATVE
FROM            dbo.HOADON INNER JOIN
                         dbo.SUAT ON dbo.HOADON.ID_SUAT = dbo.SUAT.ID_SUAT INNER JOIN
                         dbo.PHIM ON dbo.SUAT.ID_PHIM = dbo.PHIM.ID_PHIM INNER JOIN
                         dbo.VE_GHE ON dbo.HOADON.ID_HOADON = dbo.VE_GHE.ID_HOADON AND dbo.SUAT.ID_SUAT = dbo.VE_GHE.ID_SUAT INNER JOIN
                         dbo.GHE ON dbo.VE_GHE.ID_GHE = dbo.GHE.ID_GHE INNER JOIN
                         dbo.LOAIGHE ON dbo.GHE.ID_LOAIGHE = dbo.LOAIGHE.ID_LOAIGHE
WHERE        (dbo.HOADON.THANHTOAN = 1)
GROUP BY dbo.HOADON.GIODATVE, dbo.PHIM.TENPHIM, dbo.HOADON.ID_TAIKHOAN, dbo.HOADON.GIADUOCGIAM, dbo.GHE.ID_LOAIGHE, dbo.LOAIGHE.GIA, dbo.HOADON.ID_KHUYENMAI, dbo.HOADON.ID_HOADON, 
                         dbo.HOADON.NGAYDATVE
ORDER BY dbo.HOADON.NGAYDATVE DESC, dbo.HOADON.GIODATVE DESC

GO
/****** Object:  View [dbo].[View_PhimChieuSom]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_PhimChieuSom]
AS
SELECT        dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, dbo.PHIM.HINHANH4, 
                         dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM
FROM            dbo.PHIM INNER JOIN
                         dbo.SUAT ON dbo.PHIM.ID_PHIM = dbo.SUAT.ID_PHIM AND dbo.PHIM.NGAYCONGCHIEU > dbo.SUAT.NGAYCHIEU
WHERE        (DATEDIFF(day, dbo.SUAT.NGAYCHIEU, dbo.PHIM.NGAYCONGCHIEU) <= 5) AND (dbo.SUAT.NGAYCHIEU > GETDATE())
GROUP BY dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, dbo.PHIM.HINHANH4, 
                         dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM

GO
/****** Object:  View [dbo].[View_PhimDangChieu]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_PhimDangChieu]
AS
SELECT        TOP (10) dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, 
                         dbo.PHIM.HINHANH4, dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM
FROM            dbo.PHIM INNER JOIN
                         dbo.SUAT ON dbo.PHIM.ID_PHIM = dbo.SUAT.ID_PHIM
WHERE        (dbo.PHIM.NGAYCONGCHIEU <= GETDATE()) AND (DATEDIFF(day, dbo.PHIM.NGAYCONGCHIEU, GETDATE()) <= 5)
GROUP BY dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, dbo.PHIM.HINHANH4, 
                         dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM
ORDER BY dbo.PHIM.NGAYCONGCHIEU DESC

GO
/****** Object:  View [dbo].[View_PhimSapChieu]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_PhimSapChieu]
AS
SELECT        TOP (100) PERCENT dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, 
                         dbo.PHIM.HINHANH4, dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM
FROM            dbo.PHIM INNER JOIN
                         dbo.SUAT ON dbo.PHIM.ID_PHIM = dbo.SUAT.ID_PHIM
WHERE        (dbo.PHIM.NGAYCONGCHIEU > GETDATE()) AND (DATEDIFF(day, GETDATE(), dbo.PHIM.NGAYCONGCHIEU) <= 5)
GROUP BY dbo.PHIM.ID_PHIM, dbo.PHIM.TENPHIM, dbo.PHIM.THOILUONG, dbo.PHIM.MOTANGAN, dbo.PHIM.DAODIEN, dbo.PHIM.DIENVIEN, dbo.PHIM.HINHANH1, dbo.PHIM.HINHANH2, dbo.PHIM.HINHANH3, dbo.PHIM.HINHANH4, 
                         dbo.PHIM.VIDEO, dbo.PHIM.THELOAI, dbo.PHIM.NGAYCONGCHIEU, dbo.PHIM.GIOIHANTUOI, dbo.PHIM.DINHDANGPHIM
ORDER BY dbo.PHIM.NGAYCONGCHIEU

GO
/****** Object:  View [dbo].[VIEW_PHONG]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_PHONG]
AS
SELECT        dbo.PHONG.ID_PHONG, dbo.PHONG.TENPHONG, dbo.DAYGHE.TENDAY, dbo.GHE.GHESO, dbo.LOAIGHE.TENLOAIGHE, dbo.LOAIGHE.GIA
FROM            dbo.DAYGHE INNER JOIN
                         dbo.GHE ON dbo.DAYGHE.ID_DAYGHE = dbo.GHE.ID_DAYGHE INNER JOIN
                         dbo.LOAIGHE ON dbo.GHE.ID_LOAIGHE = dbo.LOAIGHE.ID_LOAIGHE INNER JOIN
                         dbo.PHONG ON dbo.DAYGHE.ID_PHONG = dbo.PHONG.ID_PHONG



GO
/****** Object:  View [dbo].[View_ThongTinTaiKhoan]    Script Date: 3/4/2019 12:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ThongTinTaiKhoan]
AS
SELECT        dbo.TAIKHOAN.ID_TAIKHOAN, dbo.TAIKHOAN.ID_LOAITAIKHOAN, dbo.TAIKHOAN.TAIKHOAN, dbo.TAIKHOAN.MATKHAU, dbo.TAIKHOAN.HOTEN, dbo.TAIKHOAN.SODIENTHOAI, dbo.TAIKHOAN.DIACHI, dbo.TAIKHOAN.EMAIL, 
                         dbo.TAIKHOAN.DIEMTICHLUY, dbo.LOAITAIKHOAN.TENLOAITAIKHOAN
FROM            dbo.LOAITAIKHOAN INNER JOIN
                         dbo.TAIKHOAN ON dbo.LOAITAIKHOAN.ID_LOAITAIKHOAN = dbo.TAIKHOAN.ID_LOAITAIKHOAN

GO
SET IDENTITY_INSERT [dbo].[DAYGHE] ON 

INSERT [dbo].[DAYGHE] ([ID_DAYGHE], [TENDAY], [ID_PHONG]) VALUES (1, N'A', 1)
INSERT [dbo].[DAYGHE] ([ID_DAYGHE], [TENDAY], [ID_PHONG]) VALUES (2, N'B', 1)
INSERT [dbo].[DAYGHE] ([ID_DAYGHE], [TENDAY], [ID_PHONG]) VALUES (3, N'C', 1)
SET IDENTITY_INSERT [dbo].[DAYGHE] OFF
SET IDENTITY_INSERT [dbo].[GHE] ON 

INSERT [dbo].[GHE] ([ID_GHE], [GHESO], [ID_DAYGHE], [ID_LOAIGHE]) VALUES (1, 1, 1, 1)
INSERT [dbo].[GHE] ([ID_GHE], [GHESO], [ID_DAYGHE], [ID_LOAIGHE]) VALUES (2, 2, 1, 1)
INSERT [dbo].[GHE] ([ID_GHE], [GHESO], [ID_DAYGHE], [ID_LOAIGHE]) VALUES (3, 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[GHE] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([ID_HOADON], [ID_TAIKHOAN], [ID_SUAT], [NGAYDATVE], [GIODATVE], [GIADUOCGIAM], [ID_KHUYENMAI], [TONGTIEN], [THANHTOAN]) VALUES (4, 1, 1, CAST(N'2019-12-12' AS Date), CAST(N'06:54:12' AS Time), 20000, N'HAPPY1', 90000, NULL)
INSERT [dbo].[HOADON] ([ID_HOADON], [ID_TAIKHOAN], [ID_SUAT], [NGAYDATVE], [GIODATVE], [GIADUOCGIAM], [ID_KHUYENMAI], [TONGTIEN], [THANHTOAN]) VALUES (5, 2, 1, CAST(N'2019-12-12' AS Date), CAST(N'05:30:00' AS Time), 0, N'0', 45000, NULL)
INSERT [dbo].[HOADON] ([ID_HOADON], [ID_TAIKHOAN], [ID_SUAT], [NGAYDATVE], [GIODATVE], [GIADUOCGIAM], [ID_KHUYENMAI], [TONGTIEN], [THANHTOAN]) VALUES (6, 3, 2, CAST(N'2018-10-10' AS Date), CAST(N'03:05:00' AS Time), 0, N'0', 45000, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHUYENMAI] ([ID_KHUYENMAI], [ID_LOAIKHUYENMAI], [MOTANGAN], [TENGIAMGIA], [CHIETKHAU], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'HAPPY1', 1, N'không có', N'Chúc Mừng Khai Trương', 20000, CAST(N'2019-11-11' AS Date), CAST(N'2019-12-29' AS Date))
INSERT [dbo].[KHUYENMAI] ([ID_KHUYENMAI], [ID_LOAIKHUYENMAI], [MOTANGAN], [TENGIAMGIA], [CHIETKHAU], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'HAPPY2', 2, N'none', N'none', 0.1, CAST(N'2019-03-01' AS Date), CAST(N'2019-03-10' AS Date))
INSERT [dbo].[KHUYENMAI] ([ID_KHUYENMAI], [ID_LOAIKHUYENMAI], [MOTANGAN], [TENGIAMGIA], [CHIETKHAU], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'HAPPY3', 1, N'NONE', N'NONE', 5000, CAST(N'2019-03-01' AS Date), CAST(N'2019-03-30' AS Date))
SET IDENTITY_INSERT [dbo].[LOAIGHE] ON 

INSERT [dbo].[LOAIGHE] ([ID_LOAIGHE], [TENLOAIGHE], [GIA]) VALUES (1, N'Thường', 45000)
INSERT [dbo].[LOAIGHE] ([ID_LOAIGHE], [TENLOAIGHE], [GIA]) VALUES (2, N'VIP', 55000)
SET IDENTITY_INSERT [dbo].[LOAIGHE] OFF
SET IDENTITY_INSERT [dbo].[LOAIKHUYENMAI] ON 

INSERT [dbo].[LOAIKHUYENMAI] ([ID_LOAIKHUYENMAI], [TENLOAIKHUYENMAI]) VALUES (1, N'Tiền Mặt')
INSERT [dbo].[LOAIKHUYENMAI] ([ID_LOAIKHUYENMAI], [TENLOAIKHUYENMAI]) VALUES (2, N'Phần Trăm')
SET IDENTITY_INSERT [dbo].[LOAIKHUYENMAI] OFF
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] ON 

INSERT [dbo].[LOAITAIKHOAN] ([ID_LOAITAIKHOAN], [TENLOAITAIKHOAN]) VALUES (1, N'admin')
INSERT [dbo].[LOAITAIKHOAN] ([ID_LOAITAIKHOAN], [TENLOAITAIKHOAN]) VALUES (2, N'Vàng')
INSERT [dbo].[LOAITAIKHOAN] ([ID_LOAITAIKHOAN], [TENLOAITAIKHOAN]) VALUES (3, N'Bạc')
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[PHIM] ON 

INSERT [dbo].[PHIM] ([ID_PHIM], [TENPHIM], [THOILUONG], [MOTANGAN], [DAODIEN], [DIENVIEN], [HINHANH1], [HINHANH2], [HINHANH3], [HINHANH4], [VIDEO], [THELOAI], [NGAYCONGCHIEU], [GIOIHANTUOI], [DINHDANGPHIM], [TRANGTHAI]) VALUES (1, N'abcv	', N'123', N'a', N'a', N'a', N'a', N'a', N'a', N'a', N'../video/', N'hành d?ng', CAST(N'2019-03-04' AS Date), 13, N'2D', 0)
SET IDENTITY_INSERT [dbo].[PHIM] OFF
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([ID_PHONG], [TENPHONG], [SOLUONGGHE]) VALUES (1, N'Phòng Chiếu 1', 100)
INSERT [dbo].[PHONG] ([ID_PHONG], [TENPHONG], [SOLUONGGHE]) VALUES (2, N'Phòng Chiếu 2', 100)
INSERT [dbo].[PHONG] ([ID_PHONG], [TENPHONG], [SOLUONGGHE]) VALUES (3, N'Phòng Chiếu 3', 100)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
SET IDENTITY_INSERT [dbo].[SUAT] ON 

INSERT [dbo].[SUAT] ([ID_SUAT], [ID_PHIM], [ID_PHONG], [NGAYCHIEU], [GIOCHIEU]) VALUES (1, 1, 1, CAST(N'2019-09-09' AS Date), CAST(N'06:14:00' AS Time))
INSERT [dbo].[SUAT] ([ID_SUAT], [ID_PHIM], [ID_PHONG], [NGAYCHIEU], [GIOCHIEU]) VALUES (2, 2, 2, CAST(N'2019-03-05' AS Date), CAST(N'05:06:00' AS Time))
INSERT [dbo].[SUAT] ([ID_SUAT], [ID_PHIM], [ID_PHONG], [NGAYCHIEU], [GIOCHIEU]) VALUES (3, 1, 1, CAST(N'2019-03-08' AS Date), CAST(N'19:15:00' AS Time))
SET IDENTITY_INSERT [dbo].[SUAT] OFF
SET IDENTITY_INSERT [dbo].[SUKIEN] ON 

INSERT [dbo].[SUKIEN] ([ID_SUKIEN], [TENSUKIEN], [MOTA], [ANHSUKIEN]) VALUES (1, N'ƯU ĐÃI LỊCH THÁNG 02.2019', N'Thời gian: 01.02 - 28.02.2019Nội dung:  Khách hàng sở hữu Lịch DONGBA Star, nhận ngay ưu đãi tháng 2 với:- Mua SOLO Combo với giá chỉ 35.000đ (tiết kiệm 35.000đ).- Mua COUPLE Combo với giá chỉ 60.000đ (tiết kiệm 35.000đ).', N'null')
INSERT [dbo].[SUKIEN] ([ID_SUKIEN], [TENSUKIEN], [MOTA], [ANHSUKIEN]) VALUES (2, N'PHIM HAY GIÁ RẺ GIỚI TRẺ THÍCH MÊ', N'Khách hàng là thành viên của DONGBA STAR từ 22 tuổi trở xuống, ưu đãi xem phim 2D với giá chỉ 50.000VNĐ.Không phụ thu ghế VIP. Áp dụng từ thứ 2 đến thứ 6. Không áp dụng cho các ngày lễ tết.', N'123')
INSERT [dbo].[SUKIEN] ([ID_SUKIEN], [TENSUKIEN], [MOTA], [ANHSUKIEN]) VALUES (3, N'ƯU TIÊN MEMBER BẤT NGỜ GIÁ SHOCK', N'Khách hàng là thành viên của DONGBA Star khi mua vé trực tiếp tại quầy xuất trình thẻ để nhận ưu đãi

Giá vé 2D 60.000VNĐ', NULL)
SET IDENTITY_INSERT [dbo].[SUKIEN] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID_TAIKHOAN], [ID_LOAITAIKHOAN], [TAIKHOAN], [MATKHAU], [HOTEN], [SODIENTHOAI], [DIACHI], [EMAIL], [DIEMTICHLUY]) VALUES (1, 1, N'huynhho', N'123', N'Nguyễn Huỳnh Hổ', N'0982511774', N'Huế', N'huynhho@gmail.com', 0)
INSERT [dbo].[TAIKHOAN] ([ID_TAIKHOAN], [ID_LOAITAIKHOAN], [TAIKHOAN], [MATKHAU], [HOTEN], [SODIENTHOAI], [DIACHI], [EMAIL], [DIEMTICHLUY]) VALUES (2, 1, N'nhahuyen', N'123', N'Nguyễn Trần Nhã Huyền', N'0971718498', N'Huế', N'nhahuyen@gmail.com', 0)
INSERT [dbo].[TAIKHOAN] ([ID_TAIKHOAN], [ID_LOAITAIKHOAN], [TAIKHOAN], [MATKHAU], [HOTEN], [SODIENTHOAI], [DIACHI], [EMAIL], [DIEMTICHLUY]) VALUES (3, 4, N'thaotrang', N'123', N'Ngô Thị Thảo Trang', N'0963258741', N'Đà Nẵng', N'thaotrang@gmail.com', 176)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[VE_GHE] ON 

INSERT [dbo].[VE_GHE] ([ID_VE_GHE], [ID_GHE], [ID_HOADON], [ID_SUAT]) VALUES (2, 4, 4, 1)
INSERT [dbo].[VE_GHE] ([ID_VE_GHE], [ID_GHE], [ID_HOADON], [ID_SUAT]) VALUES (3, 3, 4, 1)
INSERT [dbo].[VE_GHE] ([ID_VE_GHE], [ID_GHE], [ID_HOADON], [ID_SUAT]) VALUES (4, 7, 4, 1)
SET IDENTITY_INSERT [dbo].[VE_GHE] OFF
ALTER TABLE [dbo].[DAYGHE]  WITH CHECK ADD  CONSTRAINT [FK_DAYGHE_PHONG1] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([ID_PHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DAYGHE] CHECK CONSTRAINT [FK_DAYGHE_PHONG1]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_DAYGHE] FOREIGN KEY([ID_DAYGHE])
REFERENCES [dbo].[DAYGHE] ([ID_DAYGHE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_DAYGHE]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_LOAIGHE1] FOREIGN KEY([ID_LOAIGHE])
REFERENCES [dbo].[LOAIGHE] ([ID_LOAIGHE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_LOAIGHE1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_SUAT1] FOREIGN KEY([ID_SUAT])
REFERENCES [dbo].[SUAT] ([ID_SUAT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_SUAT1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TAIKHOAN] FOREIGN KEY([ID_TAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([ID_TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_GIAMGIA_LOAIGIAMGIA1] FOREIGN KEY([ID_LOAIKHUYENMAI])
REFERENCES [dbo].[LOAIKHUYENMAI] ([ID_LOAIKHUYENMAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_GIAMGIA_LOAIGIAMGIA1]
GO
ALTER TABLE [dbo].[SUAT]  WITH CHECK ADD  CONSTRAINT [FK_SUAT_PHIM] FOREIGN KEY([ID_PHIM])
REFERENCES [dbo].[PHIM] ([ID_PHIM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUAT] CHECK CONSTRAINT [FK_SUAT_PHIM]
GO
ALTER TABLE [dbo].[SUAT]  WITH CHECK ADD  CONSTRAINT [FK_SUAT_PHONG1] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([ID_PHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUAT] CHECK CONSTRAINT [FK_SUAT_PHONG1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN1] FOREIGN KEY([ID_LOAITAIKHOAN])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID_LOAITAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN1]
GO
ALTER TABLE [dbo].[VE_GHE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE_GHE1] FOREIGN KEY([ID_GHE])
REFERENCES [dbo].[GHE] ([ID_GHE])
GO
ALTER TABLE [dbo].[VE_GHE] CHECK CONSTRAINT [FK_VE_GHE_GHE1]
GO
ALTER TABLE [dbo].[VE_GHE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE_HOADON1] FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[HOADON] ([ID_HOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE_GHE] CHECK CONSTRAINT [FK_VE_GHE_HOADON1]
GO
ALTER TABLE [dbo].[VE_GHE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE_SUAT1] FOREIGN KEY([ID_SUAT])
REFERENCES [dbo].[SUAT] ([ID_SUAT])
GO
ALTER TABLE [dbo].[VE_GHE] CHECK CONSTRAINT [FK_VE_GHE_SUAT1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VE_GHE"
            Begin Extent = 
               Top = 6
               Left = 249
               Bottom = 136
               Right = 419
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 6
               Left = 457
               Bottom = 136
               Right = 627
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 665
               Bottom = 119
               Right = 835
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LOAIGHE"
            Begin Extent = 
               Top = 120
               Left = 665
               Bottom = 233
               Right = 835
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietGheDat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietGheDat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietGheDat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 6
               Left = 265
               Bottom = 136
               Right = 451
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 6
               Left = 489
               Bottom = 136
               Right = 694
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHONG"
            Begin Extent = 
               Top = 6
               Left = 732
               Bottom = 119
               Right = 918
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TAIKHOAN"
            Begin Extent = 
               Top = 120
               Left = 732
               Bottom = 250
               Right = 939
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietHoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'70
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietHoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietHoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LOAIGHE"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VE_GHE"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 120
               Left = 38
               Bottom = 250
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietThanhToan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'70
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietThanhToan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ChiTietThanhToan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHONG"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DAY_THEO_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DAY_THEO_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 7
               Left = 47
               Bottom = 169
               Right = 264
            End
            DisplayFlags = 280
            TopColumn = 12
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 7
               Left = 311
               Bottom = 169
               Right = 505
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 126
               Left = 557
               Bottom = 288
               Right = 757
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VE_GHE"
            Begin Extent = 
               Top = 7
               Left = 799
               Bottom = 169
               Right = 993
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1210
         Width = 1210
         Width = 1210
         Width = 1210
         Width = 1210
         Width = 1210
         Width = 1210
         Width = 1210
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 895
         Table = 1174
         Output = 726
         Append = 1400
         NewValue = 1170
         SortType = 1355
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1355
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
En' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DOANHSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'd
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DOANHSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DOANHSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 100
               Left = 811
               Bottom = 262
               Right = 1028
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 78
               Left = 371
               Bottom = 240
               Right = 565
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 7
               Left = 47
               Bottom = 169
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1210
         Width = 1210
         Width = 1803
         Width = 2227
         Width = 1682
         Width = 1210
         Width = 1210
         Width = 1210
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 895
         Table = 1174
         Output = 726
         Append = 1400
         NewValue = 1170
         SortType = 1355
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1355
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DOANHTHU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DOANHTHU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VE_GHE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 835
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GHE_DA_DAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GHE_DA_DAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GHE_DA_DAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHONG"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LOAIGHE"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 119
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_GHE_THEO_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_GHE_THEO_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_GHE_THEO_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 6
               Left = 265
               Bottom = 136
               Right = 451
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 6
               Left = 489
               Bottom = 136
               Right = 694
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VE_GHE"
            Begin Extent = 
               Top = 6
               Left = 732
               Bottom = 136
               Right = 918
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LOAIGHE"
            Begin Extent = 
               Top = 138
               Left = 262
               Bottom = 251
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_LichSuDatVe1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_LichSuDatVe1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_LichSuDatVe1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 6
               Left = 281
               Bottom = 136
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimChieuSom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimChieuSom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 10
               Left = 491
               Bottom = 140
               Right = 677
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimDangChieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimDangChieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PHIM"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUAT"
            Begin Extent = 
               Top = 6
               Left = 281
               Bottom = 136
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimSapChieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_PhimSapChieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DAYGHE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GHE"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LOAIGHE"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHONG"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 119
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_PHONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "LOAITAIKHOAN"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TAIKHOAN"
            Begin Extent = 
               Top = 6
               Left = 273
               Bottom = 136
               Right = 464
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ThongTinTaiKhoan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ThongTinTaiKhoan'
GO

select * from TAIKHOAN;
select * from LOAITAIKHOAN;
SELECT * FROM PHIM WHERE NGAYCONGCHIEU <= CURRENT_TIMESTAMP AND CURRENT_TIMESTAMP <= NGAYNGUNGCHIEU;
select * from SUAT;
select * from PHIM;

alter table [dbo].[PHIM] add NGAYNGUNGCHIEU [date] null ;